// animations styles

.text-animation {
    transition: all 0.35s;
    transform: translateY(0);
    &.animate {
        transform: translateY(100px);
    }
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 6px); }
    to   { transform: translate(0, 0px); }    
}

@keyframes bouncey {
    0% {
        transform: scale(.95);
    }
    25% {
        transform: scale(1.10);
    }
    75% {
        transform: scale(0.90);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes shootingStar {
    0% {
        transform: translate(-2000px,1000px)
    }
    100% {
        transform: translate(3000px,-1000px)
    }
}

@keyframes shootingStar2 {
    0% {
        transform: translate(-2000px,1000px)
    }
    100% {
        transform: translate(3000px,-500px)
    }
}