/* Home styles
*/

body {
    background-color: #000000;
    color: white;
}

.language-selector {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 16px;
    cursor: pointer;
}

.language-selector__current {
    position: relative;
    padding: 0 24px 0 0;
}

.language-selector__arrow {
    transition: all 0.2s;
    position: absolute;
    top: 1px;
    right: 1px;
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
}

.language-selector__layer {
    display: none;
    transition: all 0.1s;
    position: absolute;
    right: -1px;
    top: 16px;
    background-color: white;
    border-radius: 4px;
    min-width: 50px;
    padding: 6px 10px;
    &.-active {
        transform: translateY(10px);
    }
    &:before {
        position: absolute;
        content: ' ';
        top: -6px;
        right: 0;
        width: 0; 
        height: 0; 
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid white;
    }
}

.language-selector__item {
    transition: all 0.2s;
    display: block;
    text-align: right;
    color: $color-sidebar-font;
    text-decoration: none;
    opacity: 1;
    line-height: 1.4;
    font-size: 14px;
    &:hover {
        opacity: 0.6;
    }
}

.home-comet1 {
    position: absolute;
    width: 80px;
    left: -100px;
    animation: shootingStar linear 8s 4s infinite;
}

.home-comet2 {
    position: absolute;
    width: 40px;
    top: 300px;
    left: -100px;
    animation: shootingStar linear 8s 2s infinite;
}

.home-comet3 {
    position: absolute;
    width: 20px;
    top: 200px;
    left: -100px;
    animation: shootingStar linear 10s 4s infinite;
}

.page-container {
    position: relative;
    margin-right: 440px;
    overflow: hidden;
    background: #000000 url(../images/bgs/bg-true.jpg) 20% 50% no-repeat;
    background-size: cover;
    @media (max-width: $breakpoint-nav-slim) {
        margin-right: 375px;
    }
    @media (max-width: $breakpoint-nav-stack) {
        margin-right: 0;
        background-size: auto;
        background-position: 50% 70%;
    }
    // @media (max-width: $breakpoint-phablet) {
    //     background-size: auto;
    //     background-position: 50% 70%;
    // }
}

.home-container {
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
}

.home-header {
    padding: 40px 0 50px;
}

.home-logo {
    display: block;
    margin: 0 auto 40px;
}

.home-title {
    font-size: 48px;
    line-height: 1.3;
    @media (max-width: $breakpoint-nav-slim) {
        font-size: 40px;
    }
    @media (max-width: $breakpoint-phablet) {
        text-align: center;
    }
}

.home-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.home-video iframe, .home-video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.home-body {
    padding: 30px 0;
    p {
        font-size: 20px;
        line-height: 1.3;
        padding: 20px 0;
        @media (max-width: $breakpoint-phablet) {
            font-size: 22px;
            line-height: 1.5;
        }
    }
}

.home-footer {
    text-align: center;
    padding: 20px 0 40px;
}

.home-footer__app-buttons {
    padding-bottom: 50px;
    .home-footer__button {
        margin: 5px 10px;
    }
}

.home-footer__legal {
    color: $color-footer-font;
    font-size: 20px;
    a {
        transition: all 0.25s;
        font-size: 20px;
        color: $color-footer-font;
        text-decoration: none;
        opacity: 1;
        @media (max-width: $breakpoint-phablet) {
            font-size: 14px;
        }
        &:hover {
            text-decoration: underline;
            opacity: 0.7;
        }
    }
    @media (max-width: $breakpoint-phablet) {
        font-size: 14px;
    }
}


// things that might be moved
.home-gutters {
    @media (max-width: $breakpoint-big-screen) {
        padding-left: 40px;
        padding-right: 40px;
    }
    @media (max-width: $breakpoint-nav-stack) {
        padding-left: 20px;
        padding-right: 20px;
    }
}