/* settings styles
*/

// branded colors
$color-background: #000000;
$color-main-font: white;
$color-footer-font: #D8D8D8;
$color-sidebar-font: #000000;
$color-sidebar-link: #0676FF;
$color-coupon-font: #FF496F;
$color-form-background: #F2F2F4;
$color-button-light: #D97BFF;
$color-button-dark: #734CFF;