// social section

.social-media {
    padding: 40px 0;
    max-width: 770px;
    margin: 0 auto;
    line-height: 1.2;
    z-index: 1000;
    position: relative;
    min-height: 620px;
    box-sizing: border-box;
    color: $color-alternate-font;
    @media (max-width: $breakpoint-phablet) {
        text-align: center;
    }
    h2 {
        font-size: 45px;
        margin-top: 20%;
        @media (max-width: $breakpoint-phablet) {
            font-size: 38px;
        }
    }
    p {
        font-size: 20px;
        padding: 30px 60px 30px 0;
        @media (max-width: $breakpoint-phablet) {
            padding: 30px 0;
            line-height: 1.4;
        }
    }
    @media (max-width: $breakpoint-tablet) {
        padding: 40px 60px 50px 60px;
    }
    @media (max-width: $breakpoint-big-screen) {
        padding-left: 40px;
        padding-right: 40px;
    }
    @media (max-width: $breakpoint-phablet) {
        padding-left: 20px;
        padding-right: 20px;
    }
    // @media (max-width: 952px) {
    //     // min-height: 900px;
    //     padding: 40px 60px 50px 60px;
    // }
}

.social-media__row {
    position: relative;
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
}

.social-media__col {
    float: left;
    width: 65%;
    &:last-child {
        position: absolute;
        float: none;
        top: 0;
        right: 0;
        width: 44%;
    }
    @media (max-width: $breakpoint-cyclist) {
        width: 100%;
        float: none;
        &:last-child {
            position: relative;
            float: none;
            top: 0;
            right: 0;
            width: 75%;
            margin: 0 auto;
        }
    }
}

.social-media__infographic {
    position: relative;
    height: 530px;
    background: url(../images/bgs/bg-social-media.png) 50% 50% no-repeat;
    background-size: 100%;
    @media (max-width: $breakpoint-phablet) {
        height: 400px;
        text-align: left;
    }
    @media (max-width: $breakpoint-cyclist) {
        top: 30px;
    }
    .cyclist {
        transition: all 0.25s;
        position: absolute;
        bottom: -37px;
        left: -70px;
        width: 200px;
        @media (max-width: $breakpoint-tablet) {
            bottom: -85px;
            left: -30px;
            width: 66%;
        }
        @media (max-width: $breakpoint-big-screen) {
            bottom: 203px;
            left: -70px;
            width: 156px;
        }
        @media (max-width: $breakpoint-cyclist) {
            bottom: auto;
            left: -52px;
            width: 50%;
            top: 75px;
        }
    }
}

.social-media__tag {
    transition: all 0.2s;
    position: relative;
    display: inline-block;
    background-color: white;
    box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.2);
    min-width: 221px;
    min-height: 76px;
    box-sizing: border-box;
    padding: 16px 16px 16px 80px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.3;
    @media (max-width: $breakpoint-phablet) {
        padding-left: 70px;
    }
    img {
        position: absolute;
        left: 16px;
        top: 18px;
        width: 42px;
    }
    strong {
        font-size: 20px;
        display: block;
    }
    &.-leaks {
        transition: all 0.3s;
        position: absolute;
        top: 186px;
        right: 0px;
        transform: translateX(1000px);
        &.animate {
            animation-name: floating;
            animation-duration: 2.6s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
        @media (max-width: $breakpoint-tablet) {
            // top: 47%;
            // right: 0px;
        }
        @media (max-width: $breakpoint-cyclist) {
            right: -20px;
            top: 130px;
        }
    }
    &.-brother {
        transition: all 0.3s;
        position: absolute;
        right: 0px;
        top: 78px;
        transform: translateX(1000px);
        &.animate {
            animation-name: floating;
            animation-duration: 2.5s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
        @media (max-width: $breakpoint-tablet) {
            // right: 0px;
            // top: 62px;
        }
        @media (max-width: $breakpoint-cyclist) {
            top: 0;
            left: 20%;
            width: 230px;
        }
    }
    &.-fakenews {
        transition: all 0.3s;
        position: absolute;
        right: 0px;
        top: 296px;
        transform: translateX(1000px);
        &.animate {
            animation-name: floating;
            animation-duration: 2.4s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
        @media (max-width: $breakpoint-tablet) {
            // right: 0px;
            // top: 65%;
        }
        @media (max-width: $breakpoint-cyclist) {
            right: 20px;
            top: 244px;
        }
    }
    @media (max-width: $breakpoint-phablet) {
        &.-brother {
            left: 20%;
            right: auto;
            width: 230px;
        }
        &.-leaks {
            left: 20%;
            right: auto;
            width: 230px;
        }
        &.-fakenews {
            left: 20%;
            right: auto;
            width: 230px;
        }
    }
}